
.videoForm {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.tag-chip-list {
    width: 100%;
}

.marginTop {
    margin-top: 10px;
}