<div>
  <div class="button-container">
    <div class="tabs">
      <mat-tab-group>
        <mat-tab label="All Videos">
          <ng-container *ngTemplateOutlet="tabContent" ></ng-container>
        </mat-tab>
        <mat-tab label="Private Videos">
          <ng-container *ngTemplateOutlet="tabContent" ></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="add-video">
      <button mat-raised-button color="primary" (click)="addVideo()">Add Video</button>
    </div>
  </div>
</div>

<ng-template #tabContent>
  <div class="all-videos">
    <ng-container *ngFor="let item of videoList">
      <ng-template *ngIf='isPrivateMode ? item.isPrivate : true'>
        <mat-card class="video-card">
          <div class="video">
            <iframe width="250" height="200" [src]="item.url | safe" frameborder="0" allow-same-origin allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <mat-card-content>
            <div class="video-data">
              <div class="video-title">
                {{item.title}}
              </div>
              <div class="video-description">
                {{item.description}}
              </div>
              <div class="video-tags">
                <ng-container *ngFor="let tag of item.tags">
                  <span><i>{{tag}}, </i></span>
                </ng-container>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </ng-container>
  </div>
</ng-template>